:root {
  --light-gray: rgba(0, 0, 0, 20%);
  --light-black: rgba(0, 0, 0, 70%);
  --light-green: rgba(0, 255, 100, 40%);
  --shadow-green: rgba(0, 255, 150, 100%);
  --light-red: rgba(255, 0, 0, 80%);
  --shadow-blue: rgba(0, 100, 255, 80%);
  --shadow-purple: rgba(50, 0, 255, 80%);
}

.btn {
  margin: 5px;
}

.btn-story {
  border-radius: 40px;
  border: 1px solid var(--light-gray);
  color: var(--light-gray);
  padding: 10px 20px;
  text-decoration: none;
}

.btn-story:hover {
  border-color: var(--light-black);
  color: var(--light-black);
}

.btn-start {
  background-color: var(--light-green);
  border-radius: 10px;
  border: 1px solid var(--light-green);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}

.btn-start:hover {
  background-color: var(--shadow-green);
  border-color: var(--shadow-green);
  color: black;
}

.btn-play {
  border-radius: 50%;
  color: var(--light-red);
  text-decoration: none;
  font-size: 50px;
  margin-top: 10px;
}

.btn-play:hover {
  border-color: white;
  color: var(--shadow-blue);
}

.btn-send {
  color: var(--light-black);
  font-size: 40px;
}

.btn-send:hover {
  color: var(--shadow-purple);
}
