@import "buttons.css";

:root {
  --light-gray: rgba(0, 0, 0, 20%);
  --light-black: rgba(0, 0, 0, 70%);
}

.container {
  margin: 25% auto;
}

.text-center {
  text-align: center;
}

.text-center p {
  padding-bottom: 20px;
}

.content {
  align-items: center;
  display: flex;
  justify-content: center;
}
