body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Truculenta', sans-serif;
}

/* Basic Styles */

header {
  background-color: #313447;
  background-image: url("https://github.com/mathdothings/mathdothings.github.io/raw/master/images/science.jpg");
  background-size: 100vw 100vh;
  display: flex;
  height: 95vh;
}

hr {
  color: white;
  width: 95vw;
  margin-bottom: 10vh;
  margin-top: 5vh;
  border: 1px yellow dashed;
}

h1 {
  display: flex;
  margin-right: 40vw;
  justify-content: center;
  align-items: center;
  font-size: 3.5em;
  width: 100vw;
  color: rgba(255, 100, 50, 100%);
  text-shadow: 3px 5px 5px black;
  font-weight: bold;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
}

p {
  font-size: 1.2em;
  font-weight: 900;
}

table {
  border: 1px dashed yellow;
  border-radius: 10px;
  padding: 1vw 1vh;
  display: flex;
  justify-content: center;
}

td {
  padding: 10px;
}

td span {
  font-weight: 700;
  font-size: 1.2em;
}

.resp-table {
  overflow-x: auto;
}

.progress-bar {
  background-color: yellow;
  border-radius: 10px;
  padding-bottom: 5px;
}

/* Countries */

.usa {
  padding-right: 80vw;
}

.china {
  padding-right: 60vw;
}

.uk {
  padding-right: 30vw;
}

.germany {
  padding-right: 25vw;
}

.japan {
  padding-right: 20vw;
}

.france {
  padding-right: 19vw;
}

.canada {
  padding-right: 18vw;
}

.italy {
  padding-right: 17.5vw;
}

.australia {
  padding-right: 17vw;
}

.india {
  padding-right: 16vw;
}

.spain {
  padding-right: 15.5vw;
}

.south-korea {
  padding-right: 14vw;
}

.brazil {
  padding-right: 13vw;
}

.brazil-row {
  color: #ec6419;
}

/* Page Layout */

.text-justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
  margin-right: 10px;
}

.text-italic {
  font-style: italic;
}

.publication-details {
  font-weight: lighter;
  margin-bottom: 5vh;
}

.article-body {
  background-color: #313447;
  padding: 1em;
  color: white;
}
