.banner {
  align-items: center;
  background-image: url("../images/matrix.jpg");
  background-size: cover;
  color: white;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.banner h1 {
  font-size: 3em;
  text-shadow: 0 1px rgba(0, 0, 0, 20%);
}

.banner p {
  font-size: 1.5em;
  margin-top: 0;
}
