.banner {
  background-image: url("../../images/coding.jpg");
  background-size: cover !important;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  color: #e6b800;
  font-size: 5em;
  font-weight: 600;
  text-shadow: 0 10px rgba(100, 100, 0, 20%);
}

.banner h2 {
  color: #fc0;
  font-size: 2em;
}
