.banner {
  background-image: url("../../images/coding.jpg");
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-banner1 {
  background-image: url("../../images/html.png");
  height: 20vh;
  width: 25vw;
  border-radius: 10px;
}

.card-banner2 {
  background-image: url("../../images/css.png");
  height: 20vh;
  width: 25vw;
  border-radius: 10px;
}

.card-banner3 {
  background-image: url("../../images/js.png");
  height: 20vh;
  width: 25vw;
  border-radius: 10px;
}
