.btn {
  margin: 1em;
}

.btn-code {
  background-color: white;
  border-radius: 10px;
  border: 1px solid #990;
  color: #995;
  display: inline-block;
  font-size: 2em;
  padding: 10px;
  text-decoration: none;
}

.btn-code:hover {
  background-color: #cca300;
  border: 1px solid white;
  color: white;
  font-weight: 500;
}
