@import url("banner.css");
@import url("button.css");
@import url("card.css");

* {
  color: black;
}

body {
  margin: 0;
}

.text-center {
  text-align: center;
}

a {
  font-size: 1.2em;
}

h1 {
  font-size: 2em;
  color: white;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.4em;
}

p {
  font-size: 1.1em;
  color: white;
}
